#timePlot{
    margin-top: 5%;
    display: inline-block;
}
.graph{
    text-align:center;
    z-index: -1
}
#toggleLinearPlot{
    z-index: 10;
}
#will{
    color: black;
    height: 10px;
}
.break{
    position: absolute;
    text-align: center;
    width: 30%;
    border-color: #7B68EE;
    border-style: solid;
    z-index: 10;
    margin-top: -1%;
    margin-left: 35.5%;
    margin-bottom: -10%;
}
.lgtBreak{
    text-align: center;
    width: 20%;
}
.h3{
    text-align: center;
}
.lcell{
    text-align: left;
}
.rcell{
    text-align: left;
}
.left-col{
    margin-left: 22%;
    margin-right: -22%;
}