.my-nav{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}

#timePlot{
    display: inline-block;
}
.graph{
    text-align:center;
    z-index: -1;
    margin-bottom: -2%;
    margin-top: -1%;
}
#toggleLinearPlot{
    z-index: 10;
}
#will{
    color: black;
    height: 10px;
}
.break{
    position: absolute;
    width: 30%;
    border-color: #7B68EE;
    border-style: solid;
    z-index: 10;
    margin-left: 10%;
}
.lgtBreak{
    text-align: center;
    width: 20%;
}
.h3{
    z-index: 10;
    position: relative;
}
.lcell{
    text-align: left;
    font-size: 18px;
    width: 180px;
}
.rcell{
    text-align: right;
    font-size: 18px;
    width: 130px;
}

#currentPrice{
    font-size: 40px;
    font-weight: bold;
    display: block;
    text-align: center;
}
#priceDiv{
    display:inline-block;

}
#priceChange{
    display: block;
    text-align: center;
    font-size: 20px;
    font-style: unset;
    margin-top: -6%;
}   

#afterHrsPrice{

}

#afterHrsChng{

}

#afterHoursHead{
    display: block;
}

.stock-hdr-div{
    margin-top: 1%;
    text-align:center;
    position: relative;
    z-index: 10;
}
#stock-header{
    display: block;
    font-size: 40px;
    font-weight: bold;
}
#stock-subheader{
    display: block;
    font-size: 14px;
    margin-top: -0.5%;
}
.info-container{
    margin-top: 2%;
    position: relative;
    z-index: 10;
}
.company-container{
    position: relative;
    z-index: 10;
}
.main-search{
}

.home-div{
    text-align: center;
}